<%- include('./layout/boilerplate')  %> 

    <h1>Outdoor Gear Bank</h1>

    <h2>Products</h2>
    <ul>
        <% for(p of products){ %> 
            <li>
                <a href="/products/<%= p._id %>"><%= p.name  %> </a>
                
            </li>
            <% } %> 
    </ul>
    
