<% layout('./layout/boilerplate') %>

    <div class="container">

        <div class="my-5 d-flex justify-content-center">

            <h1>Products</h1>

        </div>

        <% for(p of products){ %>

            <div class="row border bg-white">
                <div class="col-8">

                    <a href="/products/<%= p._id %>">
                        <h3>
                            <%= p.name %>
                        </h3>
                    </a>
                    <p>
                        <%= p.description %>
                    </p>


                </div>
                <div class="col-4">
                    <img src="<%= p.image  %>" class="img-fluid img-thumbnail" alt="">
                </div>
            </div>
            <% } %>
    </div>